
{% extends 'partials/body.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Se debe seleccionar los campos HTML para convertir a PDF</title>
</head>

<div class="row">
    
<div class="container shadow w-50 h-80 text-center rounded mb-5 d-flex justify-content-center ">
    <div class="row card mt-2" style="width: 50%;">
        <div class="col-md-6"></div>
        <div class="card"></div>
        <img src="/static/img/Profile.png" alt="Imagen Perfil" class="card-img-top img-fluid>
        <div class="card-body">
            <div class="card-title">
                <div style="width: 20px">
                    <div class="row">  
                        <div class="col d-flex">
                          <label for="firstname">Nombre</label>
                        </div>
                            <div class="input-group input-group-sm">
                                <input id="registrar" data-pdf-form-field="true" type="text" name="firstname" placeholder="Ingrese Nombre" required>  
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <label for="document-type">Tipo Documento</label>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <select required class="d-block mt-2">
                                    <option value="tarjeta_identidad" selected="selected">Tarjeta Identidad</option>
                                    <option value="cedula_cuidadania">Cedula Cuidadania</option>
                                    <option value="cedula_extranjeria">Cedula Extranjeria</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 d-flex">
                                <label class="text-center" for="numero_identidad">Numero Identidad</label>
                            </div>
                                <div class="input-group input-group-sm"> 
                                    <input id="registrar" class="form-control form-control-lg mb-2" data-pdf-form-field="true" type="text" name="numero_identidad" placeholder= "Ingrese Numero Identidad">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 d-flex">
                                  <label for="email">Correo</label>
                                </div>
                                <div class="input-group input-group-sm">
                                    <input id="registrar" data-pdf-form-field="true" type="email" name="email" placeholder="Ingrese Correo" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 d-flex mt-2">
                                    <input onclick="enableInputs()" id="registrar" class="text-center btn-success" data-pdf-form-field="true" role="button" name="submitButton" value="Registrar">
                                </div>
                                <!--<td colspan="2">
                                    <input onclick="disableInputs()" id="registrar" class="text-center btn-success" data-pdf-form-field="true" role="button" name="submitButton" value="Editar">
                                </td>-->
                            </div>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>

function enabledInputs() {
    let input = document.getElementById('#registrar');
    
  }

function desabledInputs() {
    let input = document.querySelectorAll('#registrar');
   
    }  
</script>         
</body>
</html>

{% endblock %} {% include 'partials/footer.html' %}

