<!DOCTYPE html>
<html>
   <head>
      <title>Bootstrap Example</title>
      <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </head>
   <body>
      <div style = "padding: 100px 100px 10px;">
         <form class = "bs-example bs-example-form" role = "form">
            <div class = "input-group input-group-lg">
            <span class = "input-group-addon">@</span>
            <input type = "text" class = "form-control" placeholder = "Twitterhandle">
         </div>
         <br>
         <div class = "input-group">
            <span class = "input-group-addon">@</span>
            <input type = "text" class = "form-control" placeholder = "Twitterhandle">
         </div>
         <br>
         <div class = "input-group input-group-sm">
            <span class = "input-group-addon">@</span>
            <input type = "text" class = "form-control" placeholder = "Twitterhandle">
         </div>
      </form>
   </body>
</html>