<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>title</title>
      <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <script type="module" src="/static/js/chart.js"></script>
  </script>
<body>
    <div class="row d-flex panel_graficos">
        <div class="container col-4 left" width="350" auto="400">
            <canvas id="registros_total_activos"></canvas>
         </div>
         <div class="container right col-4" width="400" auto="400">
            <canvas id="registro_total_usuarios"></canvas>
         </div>
         <div class="container right col-4" width="400" auto="400">
            <canvas id="registro_total_software"></canvas>
         </div>
         <div class="container right col-4" width="400" auto="400">
            <canvas id="registro_total_hardware"></canvas>
         </div>
    </div>
</body>
<script type="module" src="/static/js/panel_graficos.js"></script>
</html>
<!DOCTYPE html>
<html>